<html>
  <head>
    <link href="stupid.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
  </head>
  <body>
      <div class="fill relative hidevertscroll crop500">
	      <img src="http://1.media.collegehumor.cvcdn.com/99/50/2947f098b33aa2265c8670420051e734.gif"
        class="fill">
        <div style="left:50%;top:0;color:black;">
          <div style="margin-left:-50%">
            <div class="strokeme">
              <h1>ASTROLOGY NATION</h1>
            </div>
          </div>
        </div>
      </div>
    <main>
    <center>
	    <h3> GO BIG </h3>
	</center>
      <div class="padded max900">
        <center>
          <a class="btn large blue rounded" href="naysh.html">ENTER THE NAYSH</a>
        </center>
    </main>
</html>
